## Some temporary files
rse_temp
Gencode-v25.bed
count_groups.Rdata
counts_exon.tsv.gz
counts_gene.tsv.gz
rse_exon.Rdata
rse_gene.Rdata
rse_jx.Rdata
hg38.sizes
introns_unique.Rdata
mean.bw
bw

## Temp bash files
.*.sh
